
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

.btn{
  width: 100px;
  height: 38px;
  background: #ffffff;
  margin-bottom: 40px;
  border-radius: 10px;
  color: black;
  mix-blend-mode: difference;
  font-size: 20px;
  line-height: 38px;
  text-align: center;
  user-select: none;
  transition: all 0.3s ease-in-out;
  outline: 2px solid #000;
  outline-offset: 2px;
  cursor: pointer;
}
.btn:hover{
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.container {
  align-items: center;
  user-select: none;
  display: flex;
  flex-direction: row;
  gap:20px;
  flex-wrap: wrap;
}

.image {
  width: 300px;
  height: 200px;
  cursor: pointer;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid #887cc8;
  outline-offset: 2px;
}
